<!DOCTYPE html>
<html>
  <head>
    <title>{{ firstname }} {{ lastname }}'s Resume</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="static/images/resume.png" />

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="static/css/mobile.css" />

    <style>
    .table>tbody>tr:first-child>td {
        border-top: none;
    }

    #page {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 8px #aaa;
      -webkit-box-shadow: 2px 2px 8px #aaa;
      -moz-box-shadow: 2px 2px 8px #aaa;
    }
    </style>
  </head>
  <body id="">
    <div id="site">
      <div id="page-container">
        <div id="page">{% block page %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
